@font-face{

    font-family: 'Bebas';

    src: url('../fonts/BebasNeueBold.ttf');

    font-weight: bold;
    font-style: normal;

}

@font-face{

    font-family: 'BebasNeueBook';

    src: url('../fonts/BebasNeueBook.ttf');

    font-weight: bold;
    font-style: normal;

}


@font-face{

    font-family: 'Unista';

    src: url('../fonts/Uninsta-Light.ttf');

    font-weight: 100;
    font-style: normal;

}



@font-face{

    font-family: 'Unista';

    src: url('../fonts/Uninsta-Normal.ttf');

    font-weight: 300;
    font-style: normal;

}

@font-face{

    font-family: 'Unista';

    src: url('../fonts/Uninsta-Medium.ttf');

    font-weight: 400;
    font-style: normal;

}

@font-face{

    font-family: 'Unista';

    src: url('../fonts/Uninsta-DemiBold.ttf');

    font-weight: 500;
    font-style: normal;

}



@font-face{

    font-family: 'Unista';

    src: url('../fonts/Uninsta-Bold.ttf');

    font-weight: 600;
    font-style: normal;

}

@font-face{

    font-family: 'Unista';

    src: url('../fonts/Uninsta-ExtraBold.ttf');

    font-weight: 700;
    font-style: normal;

}


@font-face{

    font-family: 'Unista';

    src: url('../fonts/Uninsta-Heavy.ttf');

    font-weight: 800;
    font-style: normal;

}

@font-face{

    font-family: 'Unista';

    src: url('../fonts/Uninsta-Black.ttf');

    font-weight: 900;
    font-style: normal;

}
