html {
    font-size: 15px;
}

body {
    font-family: "Unista";
  
}

h2 {
    font-size: 3.5rem;
    text-transform: uppercase;
    padding-top: 40px;
    font-weight: 700;
}

/*
.container-fluid {
    padding: 0;
}*/

.green_grad_color {
        font-size: 10.4rem;
    text-transform: uppercase;
    background: linear-gradient(to bottom, #26a32d 3%, rgba(0, 117, 3, 1)66%, rgba(0, 117, 3, 1));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 3% 3%;
    font-weight: bold;
    margin-top: 24vh;
    font-family: 'Bebas';
    line-height: 146px;
}

.back_main_grass {
    height: 359px;
    background: url(../images/grass1.jpg);
    background-size: cover;
}

section.first_view > .container-fluid {
    width: 100%;
}
section.first_view {
  
    height: 100vh;
  
    background: url(../images/grass1.jpg);
    background-repeat: no-repeat;
    background-position-y: 100%;
        background-size: contain;
}

header {
    position: absolute;
    width: 100%;
    height: 185px;
    z-index: 1;
}

.container.info {
    height: 120px;
}

h2.black_c.lin.center_text {
    position: relative;
        padding-bottom: 22px;
}

h2.lin:before {
  content: '';
    display: inline-block;
    width: 32%;
    height: 100%;
    background: #f6fb10;
    position: absolute;
    bottom: 5px;
    left: 0;
}

.center_text {
    text-align: center;
}

.pad_all_0 {
    padding: 0;
}



.container.info .row {
    height: 100%;
    padding: 20px 0;
    display: flex;
    align-items: center;
    align-content: center;
}

.container.menu {
    height: 65px;
    background: #f2f2f2;
}

.logo {
    width: 65px;
    height: 65px;
    background: #138c18;
    border-radius: 50%;
    text-indent: -1000px;
}

.container.menu .row,.container.menu .row >div,.container.menu nav {
    height: 100%;
}

.menu nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
}


.menu nav a:hover {
    border-bottom: 2px solid #3f8d11;
    text-decoration: none;
    transition: border 0.4s ease;
}

.menu nav a {
    text-transform: uppercase;
    color: #209c26;
    padding: 0 13px;
      transition: border 0.4s ease;
    height: 100%;
    display: flex;
    border-bottom: 2px solid rgba(63, 141, 17, 0);
    align-items: center;
    font-size: 1rem;
}