html {
    font-size: 15px;
}

.container-fluid {
    padding: 0;
}

.green_grad_color {
        font-size: 10.4rem;
    text-transform: uppercase;
    background: linear-gradient(to bottom, #26a32d 3%, rgba(0, 117, 3, 1)66%, rgba(0, 117, 3, 1));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 3% 3%;
    font-weight: bold;
    margin-top: 24vh;
    font-family: 'Bebas';
    line-height: 146px;
}

.back_main_grass {
    height: 359px;
    background: url(../images/grass1.jpg);
    background-size: cover;
}

section.first_view > .container-fluid {
    width: 100%;
}
section.first_view {
  
    height: 100vh;
  
    background: url(../images/grass1.jpg);
    background-repeat: no-repeat;
    background-position-y: 100%;
        background-size: contain;
}

header {
    position: absolute;
    width: 100%;
    height: 185px;
    z-index: 1;
}

.container.info {
    height: 120px;
}


.container.info .row {
    height: 100%;
    padding: 20px 0;
    display: flex;
    align-items: center;
    align-content: center;
}

.container.menu {
    height: 65px;
    background: #f2f2f2;
}

.logo {
    width: 65px;
    height: 65px;
    background: #138c18;
    border-radius: 50%;
    text-indent: -1000px;
}