<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>1-й Газон</title>
        <link href="css/bootstrap.min.css" rel="stylesheet">
          <link href="css/fonts.css" rel="stylesheet">
         <link href="css/style.css" rel="stylesheet">

    </head>
    <body>
       <header>
            <div class="container info">
                <div class="row">
                    <div class="col-xs-1">
                       <div class="logo"><div>logo</div></div>
                    </div>
                    <div class="col-xs-4">
                  <p>1-й газон</p>
                  <p>Все виды ландшафтных услуг</p>
                    </div>
                    <div class="col-xs-3">
                  Москва
                    </div>
                    <div class="col-xs-3">
                  8880 555 3535
                    </div>
                </div>
            </div>

            <div class="container menu">
                <div class="row">
                    <div class="col-xs-12">
                        <nav>
                            <a href = "#">О компании</a>
                            <a href = "#">Акции и спецпредложения</a>
                            <a href = "#">Виды газона </a>
                            <a href = "#">Проекты</a>
                            <a href = "#">Услуги</a>
                            <a href = "#">Доставка и оплата</a>
                            <a href = "#">Калькулятор цен</a>
                        </nav>
                    </div>
                </div>
            </div>
       </header>

       <section class="first_view">
           <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <h1 class="green_grad_color">Продажа и укладка рулонного газона</h1>
                    </div>

                </div>
            </div>
          <!--  <div class="container-fluid">
                <div class="back_main_grass"></div>
            </div>-->
       </section>

       <section class="departure">
           <div class="container-fluid">
               <div class="row">
                    <div class="col-xs-12 pad_all_0 in_cen">
                        <h2 class="black_c lin center_text">выезд замерщика</h2>
                    </div>
               </div>
           </div>
           <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <p class="center_text">Оставьте заявку и получите в подарок удобрения для Вашего нового газона!<br>При заказе услуги "Под ключ".</p>
                    </div>
                    <div class="col-xs-12">
                        <p class="green_c center_text">Акция действительна до 10 июня 2017 г.</p>
                    </div>
                    <div class="col-xs-12 in_cen">
                        <form >
                            <div class="input-group">
                              <input type="text" class="name" name="name" placeholder="Ваше имя">
                              <input type="text" class="tel" name="phone" placeholder="Номер телефона">
                            </div>
                            <input type="submit" class="btn btn-green-3" name="submit" value="Получить скидку">
                        </form>
                    </div>
                </div>
            </div>
       </section>

      <section class="kinds">
        <div class="container">

          <h2 class="white_c text-center">Виды газона</h2>
          <div class="text-container white_c">
          <p>
            Газон рулонный - это готовый газон выращенный в полях, порезанный на дорожки (стандартно это 0.4*2.0 метра) и закатанный в рулон.
          </p>
          <p>
            Самое главное в рулонном газоне - простота укладки и быстрый результат.<br />Нет необходимости сеять и ждать роста.
          </p>
          </div>
          <div class="row">
            <div class="col-xs-3"><h3>Универсальный</h3>
            <p>
              <span class="bold">200*40*2 см.=0,8 м2</span>
              <br />
Для широкого спектра использования.
<br />
<span class="bold">Состав:</span>
<br />
100% мятлик.<br>4 вида мятлика.
            </p>
            <a class="btn btn-green-2">Заказать</a>
            </div>
            <div class="col-xs-3"><h3>Теневыносливый</h3>
              <p>
              <span class="bold">200*40*2 см.=0,8 м2</span>
              <br />
Минимальный полив, теневые участки.
<br />
<span class="bold">Состав:</span>
<br />
30% Мятлик, 15% Костер,<br>40% Овсянница, 15% Райграс
              </p>
              <a class="btn btn-green-2">Заказать</a>
            </div>
            <div class="col-xs-3"><h3>Спортивный</h3>
<p>
<span class="bold">200*40*2 см.=0,8 м2</span>
<br />
Устойчив к вытаптыванию.
<br />
<span class="bold">Состав:</span>
<br />
50% Овсянница<br>20% Мятлик<br>30% Райграс
</p>
<a class="btn btn-green-2">Заказать</a>
            </div>
            <div class="col-xs-3"><h3>Элитный газон</h3>
<p>
  <span class="bold">200*40*2 см.=0,8 м2</span>
  <br />
Медленно растущий, неприхотливый газон, насыщенного цвета.
<br />
<span class="bold">Состав:</span>
<br />
50% Мятлик, 30% Райграс<br>20% Костер.
</p>
<a class="btn btn-green-2">Заказать</a>
            </div>
          </div>
        </div>
      </section>

<section class="services">
  <div class="container">
    <h2 class="black_c text-center">Наши услуги</h2>
    <div class="block-service row">
      <div class="col-xs-8 service-text">
      <h3>подготовка газона</h3>
      <p>Наша компания занимается устройством газона "Под ключ" уже много лет.</p>
      <p>За это время мы уложили километры газона и знаем толк в этом деле. Если Вы решили сделать газон на даче, необходимо решить для себя какой газон вы хотите.</p>
      <p>Если вы хотите видеть у себя на даче идеальный газон, это к нам!</p>
      </div>
      <div class="col-xs-4 text-right">
        <div class="price">205 руб/м<sup>2</sup></div>
        <a class="btn btn-green-3">Подробнее</a>
      </div>

    </div>
    <div class="block-service row">
      <div class="col-xs-8 service-text">
      <h3>газон под ключ</h3>
      <p>Наша компания занимается устройством газона "Под ключ" уже много лет.</p>
      <p>За это время мы уложили километры газона и знаем толк в этом деле. Если Вы решили сделать газон на даче, необходимо решить для себя какой газон вы хотите.</p>
      <p>Если вы хотите видеть у себя на даче идеальный газон, это к нам!</p>
    </div>
    <div class="col-xs-4 text-right">
      <div class="price">315 руб/м<sup>2</sup></div>
      <a class="btn btn-green-3">Подробнее</a>
    </div>
    </div>
    <div class="block-service row">
      <div class="col-xs-8 service-text">
      <h3>ландшафтный дизайн участка</h3>
      <p>Наша компания занимается устройством газона "Под ключ" уже много лет.</p>
      <p>За это время мы уложили километры газона и знаем толк в этом деле. Если Вы решили сделать газон на даче, необходимо решить для себя какой газон вы хотите.</p>
      <p>Если вы хотите видеть у себя на даче идеальный газон, это к нам!</p>
    </div>
    <div class="col-xs-4 text-right">
      <div class="price">320 руб/м<sup>2</sup></div>
      <a class="btn btn-green-3">Подробнее</a>
    </div>
    </div>
    <div class="block-service row">
      <div class="col-xs-8 service-text">
      <h3>укладка газона</h3>
      <p>Наша компания занимается устройством газона "Под ключ" уже много лет.</p>
      <p>За это время мы уложили километры газона и знаем толк в этом деле. Если Вы решили сделать газон на даче, необходимо решить для себя какой газон вы хотите.</p>
      <p>Если вы хотите видеть у себя на даче идеальный газон, это к нам!</p>
</div>
<div class="col-xs-4 text-right">
  <div class="price">355 руб/м<sup>2</sup></div>
  <a class="btn btn-green-3">Подробнее</a>
</div>
    </div>
  </div>
</section>
<section class="about">
  <div class="container">
<div class="row">
<h2 class="text-center">О компании</h2>
<div class="about-text col-xs-8">
<p>Наша компания уже на протяжении нескольких лет является одним из признанных лидеров на рынке услуг в области озеленения и благоустройства.</p>
<p>Ряды нашей дружной команды составляют специалисты с более чем тридцатилетним стажем, обладающие огромным опытом как в теоретической, так и в практической составляющих индустрии озеленения в целом.</p>
<p>Наличие собственной производственной базы основополагающего направления – производство рулонного газона - позволяют нам от раза к разу повышать качество оказываемых нами услуг, не останавливаясь на достигнутых высотах, а также, что немаловажно, вести гибкую ценовую политику, ориентируясь на уровень оптимальных рыночных цен.</p>
<p>Качество выполняемых работ – вот основная задача, которую ставит перед собой каждый сотрудник нашей компании, начиная от рабочего, и заканчивая представителями топ-менеджмента.</p>
<p>Сочетание творческих, креативных людей с грамотным, рациональным менеджментом – превосходный пример гармоничного «симбиоза», благодаря которому компания всегда решает поставленные перед собой задачи в кратчайшие сроки и в самом лучшем качестве.</p>
</div>

</div>

</div>
</div>
</section>

<section class="consultation">
  <div class="container">
    <div class="consultation-box">
      <h2>Наш СПЕЦИАЛИСТ ОТВЕТИТ НА все ВАШИ ВОПРОСЫ</h2>
      <p>
        Оставьте заявку, и специалист нашей компании проконсультирует вас по выбору газона
      </p>
      <form >
          <div class="input-group">
              <input type="text" class="name" name="name" placeholder="Ваше имя">
              <input type="text" class="tel" name="phone" placeholder="Номер телефона">
          </div>
          <input type="submit" class="btn btn-green-3" name="submit" value="Получить консультацию">
      </form>
    </div>
  </div>
</section>
<footer>
  <div class="container">
    <div class="row">
      <div class="col-xs-3">
      <div class="row">
    <div class="col-xs-4">
    <div class="logo">
    </div>
      </div>
    <div class="col-xs-8"><p class="f-title">
      1-й Газон
    </p>
  <span>Все виды<br>ландшафтных услуг</span></div>
    </div>
    <hr />
    <div class="contacts">
      <div class="address"><p>г. Москва, Ленинский<br />проспект д. 55</p></div>
      <div class="email"><p><a href="mailto:info@1gazon.ru">email: info@1gazon.ru</a></p></div>
      <div class="phone"><p>8 (800) 555-35-35</p></div>
    </div>
  </div>
    <div class="col-xs-3"><p class="f-title">Разделы<hr /></p>
<ul>
<li><a>О компании</a></li>
<li><a>Акции и спецпредложения</a></li>
<li><a>Проекты</a></li>
<li><a>Услуги</a></li>
<li><a>Доставка и оплата</a></li>
<li><a>Калькулятор цен</a></li>
<li><hr /></li>
<li><a>Сопутствующие товары</a></li>
<li><a>Продукция для озеленения</a></li>
</ul>
  </div>
    <div class="col-xs-3"><p class="f-title">
      Виды Газона<hr />
      </p>
      <ul>
        <li><a>Универсальный газон</a></li>
<li><a>Теневыносливый газон</a></li>
<li><a>Искусственный газон</a></li>
<li><a>Партерный газон</a></li>
<li><a>Элитный газон</a></li>
<li><a>Спортивный газон</a></li>
<li><a>Городской газон</a></li>
<li><a>Искусственный газон</a></li>
      </ul>
    </div>
    <div class="col-xs-3"><p class="f-title">
      Услуги<hr />
    </p>
<ul>
<li><a>Подготовка газона</a></li>
<li><a>Газон под ключ</a></li>
<li><a>Ландшафтный дизайн участка</a></li>
<li><a>Укладка газона</a></li>
<li><a>Озеленение газона</a></li>
<li><a>Автоматический полив газона</a></li>
<li><a>Геодезия участка</a></li>
<li><a>Оптовая продажа</a></li>
</ul>
  </div>

</div>
<hr />
  <div class="copyright">
<span>© 2001—2017. ООО «1-й Газон». Все права защищены</span>
  </div>
  </div>
</footer>

        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="js/bootstrap.min.js"></script>
    </body>
</html>
