<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>1-й Газон</title>
        <link href="css/bootstrap.min.css" rel="stylesheet">
          <link href="css/fonts.css" rel="stylesheet">
         <link href="css/style.css" rel="stylesheet">
       
    </head>
    <body>
       <header>
            <div class="container info">
                <div class="row">
                    <div class="col-xs-1">
                       <div class="logo"><div>logo</div></div>
                    </div>
                    <div class="col-xs-4">
                  <p>1-й газон</p>
                  <p>Все виды ландшафтных услуг</p>
                    </div>
                    <div class="col-xs-3">
                  Москва
                    </div>
                    <div class="col-xs-3">
                  8880 555 3535
                    </div>
                </div>
            </div>

            <div class="container menu">
                <div class="row">
                    <div class="col-xs-12">
                        <nav>
                            <a href = "#">Главная</a>
                            <a href = "#">Услуги</a>
                            <a href = "#">Контакты</a>
                            <a href = "#">Отзывы</a>
                            <a href = "#">Отзывы</a>
                        </nav>
                    </div>
                </div>
            </div>
       </header>
       
       <section class="first_view">
           <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <h1 class="green_grad_color">Продажа и укладка рулонного газона</h1>
                    </div>
                    
                </div>
            </div>
          <!--  <div class="container-fluid">
                <div class="back_main_grass"></div>
            </div>-->
       </section>
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="js/bootstrap.min.js"></script>    
    </body>
</html>