<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>1-й Газон</title>
        <link href="css/bootstrap.min.css" rel="stylesheet">
          <link href="css/fonts.css" rel="stylesheet">
         <link href="css/style.css" rel="stylesheet">
       
    </head>
    <body>
       <header>
            <div class="container info">
                <div class="row">
                    <div class="col-xs-1">
                       <div class="logo"><div>logo</div></div>
                    </div>
                    <div class="col-xs-4">
                  <p>1-й газон</p>
                  <p>Все виды ландшафтных услуг</p>
                    </div>
                    <div class="col-xs-3">
                  Москва
                    </div>
                    <div class="col-xs-3">
                  8880 555 3535
                    </div>
                </div>
            </div>

            <div class="container menu">
                <div class="row">
                    <div class="col-xs-12">
                        <nav>
                            <a href = "#">О компании</a>
                            <a href = "#">Акции и спецпредложения</a>
                            <a href = "#">Виды газона </a>
                            <a href = "#">Проекты</a>
                            <a href = "#">Услуги</a>
                            <a href = "#">Доставка и оплата</a>
                            <a href = "#">Калькулятор цен</a>
                        </nav>
                    </div>
                </div>
            </div>
       </header>
       
       <section class="first_view">
           <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <h1 class="green_grad_color">Продажа и укладка рулонного газона</h1>
                    </div>
                    
                </div>
            </div>
          <!--  <div class="container-fluid">
                <div class="back_main_grass"></div>
            </div>-->
       </section>
       
       <section>
           <div class="container-fluid">
               <div class="row">
                    <div class="col-xs-12 pad_all_0 in_cen">
                        <h2 class="black_c lin center_text">выезд замерщика</h2>
                    </div>
               </div>
           </div>
           <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <p class="center_text">Оставьте заявку и получите в подарок удобрения для Вашего нового газона!<br>При заказе услуги "Под ключ".</p>
                    </div>
                    <div class="col-xs-12">
                        <p class="green_c center_text">Акция действительна до 10 июня 2017 г.</p>
                    </div>
                    <div class="col-xs-12 in_cen">
                        <form >
                            <div>
                                <input type="text" class="name" name="name">
                                <input type="text" class="tel" name="phone">
                            </div>
                            <input type="submit" id="feed1" class="my_btn" name="submit" value="Получить скидку">
                        </form>
                    </div>
                </div>
            </div>
       </section>
       
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="js/bootstrap.min.js"></script>    
    </body>
</html>